.header__image {
    max-width: 142px;
}

.header__image:hover {
    cursor: pointer;
    background-color: #000000;
}

@media screen and (max-width: 480px) {
    .header__image {
        max-width: 103px;
        margin-left: 27px;
    }
}