.popup {
    margin: 0 auto;
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 430px;
    background-color: #ffffff;
    color: #000000;
    position: fixed;
    height: 330px;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    .popup {
        width: 330px;
        height: 370px;
        justify-content: center;
    }


}

@media screen and (max-width: 480px) {
    .popup {
        width: 282px;
        height: 322px;

    }

}


