.grid-list {
    max-width: 1280px;
}

.grid-list {
    margin: 50px auto 66px;
    width: calc(100% - 2*200px);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, minmax(100px, 282px));
    row-gap: 20px;
    column-gap: 17px;
    justify-content: center;

}

@media screen and (max-width: 1024px) {
    .grid-list {
        grid-template-columns: repeat(2, minmax(100px, 282px));
        row-gap: 17px;
        column-gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .grid-list {
        grid-template-columns: repeat(1, 282px);
        row-gap: 20px;
        width: calc(100% - 2*150px);
        column-gap: 10px;
        justify-content: center;
        margin-top: 0;
    }
}

@media screen and (max-width: 480px) {
    .grid-list{
        margin-bottom: 48px;
    }
    
}