.popup__title {
        margin: 0 0 54px 0;
        color: #000;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }



@media screen and (max-width: 800px) {
    .popup__title {
        max-width: 80%;
        font-size: 20px;
        line-height: 20px;
        margin: 35px auto 95px;
    }

}



@media screen and (max-width: 480px) {
    .popup__title {
        width: calc(100% - 2*22px);
        max-width: 436px;
        font-size: 18px;
        line-height: 22px;
        margin: 25px auto 75px;
    }
}