.popup_input_txt {
    display: block;
    margin: 0 auto 38px;
    width: calc(100% - 2*36px);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 0;

}