/* @keyframes closepopup {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
} */
@keyframes openpopup {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }


.body {
    color: #ffffff;
    background-color: #000000;
    min-width: 320px;
    padding: 0;
    max-width: 1280px;
    width: 100%;
    margin: 0;
}
