.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 2*200px);
    margin: 0 auto;
}

@media screen and (max-width:1040px) {
    .profile {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width:769px) {
    .profile {
        min-width: 100%;
    }
}