.profile__add-button {
    color: #ffffff;
    width: 150px;
    height: 50px;
    border: 2px solid #ffffff;
    background-color: #000000;
}



@media screen and (max-width: 1040px) {
    .profile__add-button {
        width: 70%;
        margin: 20px auto;
    }

}

@media screen and (max-width: 768px) {
    .profile__add-button {
        width: calc(100% - 2*19px);
        max-width: 320px;
        margin-bottom: 36px;
    }
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;

}