.profile__avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

@media screen and (max-width: 480px) {
    .profile__avatar {
        display: flex;
        justify-content: center;
        margin-bottom: 26px;
    }
}