.profile__info-name {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0 10px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}


@media screen and (max-width: 1024px) {
    .profile__info-name {
        font-size: 31px;
        line-height: 36px;
        margin-right: 10px;

    }
}

@media screen and (max-width: 800px) {
    .profile__info-name {
        font-size: 25px;
        line-height: 36px;
    }
}

@media screen and (max-width: 480px) {
    .profile__info-name {
        font-size: 27px;
        line-height: 33px;
        min-width: 189px;
        margin: 0 10px 14px 0;
    }
}