.popup__form-profile {
    width: 430px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    position: relative;

    
}

@media screen and (max-width: 800px) {
    .popup__form-profile {
        width: 330px;
        justify-content: center;
    }


}

@media screen and (max-width: 480px) {
    .popup__form-profile {
        width: 282px;
    }

}


