.header {
    padding: 45px 0 0;
    margin: 0 auto 40px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    
    width: calc(100% - 2*200px);
}

@media screen and (max-width: 800px) {
    .header {
        width: calc(100% - 2*100px);
    }
}

@media screen and (max-width: 480px) {
    .header {
        width: 100%;
        margin: 0 auto 42px;
        padding-top: 28px;
        max-height: 56px;
    }
}