.grid__element {
    background-color: #ffffff;
    max-width: 282px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 480px) {
    .grid__element{
        max-height: 361px;
    }
    
}